.menu-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 43px;
  align-items: center;
  border-bottom: 1px solid #eff1f3;
  padding-top: 45px;
}

.menu-item {
  height: 23px;
  font-size: 18px;
  font-family: CircularStd;
  line-height: 100%;
  padding: 10px;
  letter-spacing: 0%;
}

.button-fullscreen {
  height: 33px;
  font-size: 18px;
  font-weight: 400;
  font-family: CircularStd;
  color: #6f7177;
  background-color: transparent;
  border: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-right: 40px;
}

.button-compare {
  height: 33px;
  font-size: 18px;
  font-weight: 400;
  font-family: CircularStd;
  color: #6f7177;
  background-color: transparent;
  border: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-right: 95px;
}

.button-interval {
  width: 49px;
  height: 33px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  font-family: CircularStd;
  border: none;
}

.price-current {
  font-family: CircularStd;
  font-size: 70px;
  line-height: 100%;
}

.price-change {
  font-family: CircularStd;
  color: #67bf6b;
  padding-top: 25px;
}

.price-currency {
  font-family: CircularStd;
  font-size: 24px;
  font-weight: 400;
  color: #bdbebf;
  line-height: 100%;

  position: relative;
  top: 11.5px;
}
